@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap");
h1 {
  font-family: "Raleway", sans-serif;
  font-size: 68px;
  font-weight: 700;
  text-transform: uppercase;
}

h2 {
  font-family: "Raleway", sans-serif;
  font-size: 44px;
  font-weight: 500;
}

h3 {
  font-family: "Raleway", sans-serif;
  font-size: 30px;
  font-weight: 500;
}

h4 {
  font-family: "Raleway", sans-serif;
  font-size: 19px;
  font-weight: 600;
}

p {
  font-family: "Raleway", sans-serif;
  font-size: 17px;
  font-weight: 400;
}

h1 {
  font-family: "Raleway", sans-serif;
  font-size: 68px;
  font-weight: 700;
  text-transform: uppercase;
}

h2 {
  font-family: "Raleway", sans-serif;
  font-size: 44px;
  font-weight: 500;
}

h3 {
  font-family: "Raleway", sans-serif;
  font-size: 30px;
  font-weight: 500;
}

h4 {
  font-family: "Raleway", sans-serif;
  font-size: 19px;
  font-weight: 600;
}

p {
  font-family: "Raleway", sans-serif;
  font-size: 17px;
  font-weight: 400;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-variant-numeric: lining-nums;
}

::-moz-selection {
  background-color: rgba(250, 110, 55, 0.1843137255);
}

::selection {
  background-color: rgba(250, 110, 55, 0.1843137255);
}

body {
  background-color: #1B1B1B;
  color: #fff;
  font-family: "Raleway", sans-serif;
  letter-spacing: 2px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.wrap {
  padding: 50px 240px;
}

a {
  color: Grey;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
  color: #F47746;
}
a:active {
  color: #E2612E;
}

button, .btn {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 19px;
  text-transform: uppercase;
  outline: none;
  background-color: #FA6E37;
  color: #fff;
  padding: 15px 40px;
  border-radius: 5px;
  border: none;
  letter-spacing: 1px;
  transition: 0.3s;
}
button:hover, .btn:hover {
  color: #fff;
  cursor: pointer;
  background-color: #F47746;
  transition: 0.3s;
}
button:focus, .btn:focus {
  color: #fff;
  outline: none;
  background-color: #E2612E;
  transition: 0.3s;
}

.accent-color {
  color: #FA6E37;
}

.visible {
  display: block;
}

.invisible {
  display: none;
}

h1 {
  font-family: "Raleway", sans-serif;
  font-size: 68px;
  font-weight: 700;
  text-transform: uppercase;
}

h2 {
  font-family: "Raleway", sans-serif;
  font-size: 44px;
  font-weight: 500;
}

h3 {
  font-family: "Raleway", sans-serif;
  font-size: 30px;
  font-weight: 500;
}

h4 {
  font-family: "Raleway", sans-serif;
  font-size: 19px;
  font-weight: 600;
}

p {
  font-family: "Raleway", sans-serif;
  font-size: 17px;
  font-weight: 400;
}

header {
  background-color: #232323;
}

.header-wrap {
  padding: 20px 240px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 19px;
  font-weight: 600;
}

.header__nav-list {
  list-style-type: none;
  display: flex;
}
.header__nav-list .header__nav-list_item:not(:last-child) {
  margin-right: 40px;
}

h1 {
  font-family: "Raleway", sans-serif;
  font-size: 68px;
  font-weight: 700;
  text-transform: uppercase;
}

h2 {
  font-family: "Raleway", sans-serif;
  font-size: 44px;
  font-weight: 500;
}

h3 {
  font-family: "Raleway", sans-serif;
  font-size: 30px;
  font-weight: 500;
}

h4 {
  font-family: "Raleway", sans-serif;
  font-size: 19px;
  font-weight: 600;
}

p {
  font-family: "Raleway", sans-serif;
  font-size: 17px;
  font-weight: 400;
}

.main-page {
  display: flex;
  flex-direction: column;
}
.main-page .main-page__info {
  display: flex;
  flex-direction: column;
}
.main-page .main-page__info .main-page__info_text {
  display: flex;
  align-items: flex-end;
  margin-bottom: 50px;
}
.main-page .main-page__info .main-page__info_text h1 {
  min-width: 170px;
  margin-right: 50px;
}
.main-page .main-page__info .main-page__info_text p {
  max-width: 420px;
}
.main-page .main__illustra {
  margin-top: 70px;
}
.main-page .main__illustra .main__illustra-icon {
  position: absolute;
  z-index: 5;
  margin-top: -72px;
  margin-left: 1260px;
}

h1 {
  font-family: "Raleway", sans-serif;
  font-size: 68px;
  font-weight: 700;
  text-transform: uppercase;
}

h2 {
  font-family: "Raleway", sans-serif;
  font-size: 44px;
  font-weight: 500;
}

h3 {
  font-family: "Raleway", sans-serif;
  font-size: 30px;
  font-weight: 500;
}

h4 {
  font-family: "Raleway", sans-serif;
  font-size: 19px;
  font-weight: 600;
}

p {
  font-family: "Raleway", sans-serif;
  font-size: 17px;
  font-weight: 400;
}

h1 {
  font-family: "Raleway", sans-serif;
  font-size: 68px;
  font-weight: 700;
  text-transform: uppercase;
}

h2 {
  font-family: "Raleway", sans-serif;
  font-size: 44px;
  font-weight: 500;
}

h3 {
  font-family: "Raleway", sans-serif;
  font-size: 30px;
  font-weight: 500;
}

h4 {
  font-family: "Raleway", sans-serif;
  font-size: 19px;
  font-weight: 600;
}

p {
  font-family: "Raleway", sans-serif;
  font-size: 17px;
  font-weight: 400;
}

h1 {
  font-family: "Raleway", sans-serif;
  font-size: 68px;
  font-weight: 700;
  text-transform: uppercase;
}

h2 {
  font-family: "Raleway", sans-serif;
  font-size: 44px;
  font-weight: 500;
}

h3 {
  font-family: "Raleway", sans-serif;
  font-size: 30px;
  font-weight: 500;
}

h4 {
  font-family: "Raleway", sans-serif;
  font-size: 19px;
  font-weight: 600;
}

p {
  font-family: "Raleway", sans-serif;
  font-size: 17px;
  font-weight: 400;
}

h1 {
  font-family: "Raleway", sans-serif;
  font-size: 68px;
  font-weight: 700;
  text-transform: uppercase;
}

h2 {
  font-family: "Raleway", sans-serif;
  font-size: 44px;
  font-weight: 500;
}

h3 {
  font-family: "Raleway", sans-serif;
  font-size: 30px;
  font-weight: 500;
}

h4 {
  font-family: "Raleway", sans-serif;
  font-size: 19px;
  font-weight: 600;
}

p {
  font-family: "Raleway", sans-serif;
  font-size: 17px;
  font-weight: 400;
}

h1 {
  font-family: "Raleway", sans-serif;
  font-size: 68px;
  font-weight: 700;
  text-transform: uppercase;
}

h2 {
  font-family: "Raleway", sans-serif;
  font-size: 44px;
  font-weight: 500;
}

h3 {
  font-family: "Raleway", sans-serif;
  font-size: 30px;
  font-weight: 500;
}

h4 {
  font-family: "Raleway", sans-serif;
  font-size: 19px;
  font-weight: 600;
}

p {
  font-family: "Raleway", sans-serif;
  font-size: 17px;
  font-weight: 400;
}

.clients-section {
  margin-bottom: 70px;
}
.clients-section h2 {
  margin-bottom: 30px;
}

.clients__slider-container {
  display: flex;
  align-items: baseline;
  justify-content: center;
  width: 100%;
}

.clients__slider_slide {
  margin-right: 63px;
}

h1 {
  font-family: "Raleway", sans-serif;
  font-size: 68px;
  font-weight: 700;
  text-transform: uppercase;
}

h2 {
  font-family: "Raleway", sans-serif;
  font-size: 44px;
  font-weight: 500;
}

h3 {
  font-family: "Raleway", sans-serif;
  font-size: 30px;
  font-weight: 500;
}

h4 {
  font-family: "Raleway", sans-serif;
  font-size: 19px;
  font-weight: 600;
}

p {
  font-family: "Raleway", sans-serif;
  font-size: 17px;
  font-weight: 400;
}

.qa-section h2 {
  margin-bottom: 70px;
}

.qa-container {
  background-color: #232323;
  border-radius: 5px;
  padding: 30px;
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.qa-container .qa-container__icon {
  transform: rotate(45deg);
  transition: 0.5s;
  cursor: pointer;
}

.qa-text h3 {
  margin-bottom: 30px;
  transition: 0.2s;
}
.qa-text h3:hover {
  cursor: pointer;
  color: #FA6E37;
  transition: 0.2s;
}
.qa-text h3:active {
  cursor: pointer;
  color: #E2612E;
}
.qa-text p {
  max-width: 54%;
}

h1 {
  font-family: "Raleway", sans-serif;
  font-size: 68px;
  font-weight: 700;
  text-transform: uppercase;
}

h2 {
  font-family: "Raleway", sans-serif;
  font-size: 44px;
  font-weight: 500;
}

h3 {
  font-family: "Raleway", sans-serif;
  font-size: 30px;
  font-weight: 500;
}

h4 {
  font-family: "Raleway", sans-serif;
  font-size: 19px;
  font-weight: 600;
}

p {
  font-family: "Raleway", sans-serif;
  font-size: 17px;
  font-weight: 400;
}

.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 50px;
}

.footer__info {
  list-style-type: none;
}
.footer__info .footer__info-item:not(:last-child) {
  margin-bottom: 30px;
}
.footer__info a[href^="mailto:"], .footer__info a[href^="tel:"] {
  font-size: 17px;
  color: #fff;
  transition: 0.2s;
}
.footer__info a[href^="mailto:"]:hover, .footer__info a[href^="tel:"]:hover {
  color: #F47746;
  text-decoration: none;
  transition: 0.2s;
}
.footer__info a[href^="mailto:"]:active, .footer__info a[href^="tel:"]:active {
  color: #E2612E;
  text-decoration: none;
}
.footer__info a[href^="tel:"] {
  font-size: 19px;
}

.footer__icons .footer__icons-button:hover {
  cursor: pointer;
  fill: #F47746;
}
.footer__icons .footer__icons-button:not(:last-child) {
  margin-right: 30px;
}

.footer__links {
  color: #999999;
  display: flex;
  justify-content: space-between;
}
.footer__links .footer__links-copyright {
  font-size: 14px;
}

.footer__links_policy .footer__links_mini-text:not(:last-child) {
  margin-right: 15px;
}

.footer__links_mini-text {
  font-size: 14px;
  color: #999999;
  transition: 0.2s;
}
.footer__links_mini-text:hover {
  text-decoration: none;
  color: #fff;
  transition: 0.2s;
}
.footer__links_mini-text:active {
  text-decoration: underline;
  color: #fff;
}

h1 {
  font-family: "Raleway", sans-serif;
  font-size: 68px;
  font-weight: 700;
  text-transform: uppercase;
}

h2 {
  font-family: "Raleway", sans-serif;
  font-size: 44px;
  font-weight: 500;
}

h3 {
  font-family: "Raleway", sans-serif;
  font-size: 30px;
  font-weight: 500;
}

h4 {
  font-family: "Raleway", sans-serif;
  font-size: 19px;
  font-weight: 600;
}

p {
  font-family: "Raleway", sans-serif;
  font-size: 17px;
  font-weight: 400;
}

.pnf-main {
  padding: 120px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.pnf-main svg {
  margin: 100px 0;
  max-height: 340px;
}
.pnf-main h1 {
  font-size: 68px;
  line-height: 80px;
  text-transform: uppercase;
}
.pnf-main .pnf-main__item {
  margin-bottom: 40px;
}/*# sourceMappingURL=style.css.map */