@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap");
h1 {
  font-family: "Raleway", sans-serif;
  font-size: 68px;
  font-weight: 700;
  text-transform: uppercase;
}

h2 {
  font-family: "Raleway", sans-serif;
  font-size: 44px;
  font-weight: 500;
}

h3 {
  font-family: "Raleway", sans-serif;
  font-size: 30px;
  font-weight: 500;
}

h4 {
  font-family: "Raleway", sans-serif;
  font-size: 19px;
  font-weight: 600;
}

p {
  font-family: "Raleway", sans-serif;
  font-size: 17px;
  font-weight: 400;
}

h1 {
  font-family: "Raleway", sans-serif;
  font-size: 68px;
  font-weight: 700;
  text-transform: uppercase;
}

h2 {
  font-family: "Raleway", sans-serif;
  font-size: 44px;
  font-weight: 500;
}

h3 {
  font-family: "Raleway", sans-serif;
  font-size: 30px;
  font-weight: 500;
}

h4 {
  font-family: "Raleway", sans-serif;
  font-size: 19px;
  font-weight: 600;
}

p {
  font-family: "Raleway", sans-serif;
  font-size: 17px;
  font-weight: 400;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-moz-selection {
  background-color: rgba(250, 110, 55, 0.1843137255);
}

::selection {
  background-color: rgba(250, 110, 55, 0.1843137255);
}

body {
  background-color: #1B1B1B;
  color: #fff;
  font-family: "Raleway", sans-serif;
}

.wrap {
  padding: 50px 240px;
}

a {
  color: Grey;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
  color: #F47746;
}
a:active {
  color: #E2612E;
}

button, .btn {
  text-transform: uppercase;
  outline: none;
  background-color: #FA6E37;
  color: #fff;
  font: "Raleway", sans-serif 600;
  padding: 15px 40px;
  border-radius: 5px;
  border: none;
  letter-spacing: 1px;
  transition: 0.3s;
}
button:hover, .btn:hover {
  color: #fff;
  cursor: pointer;
  background-color: #F47746;
  transition: 0.3s;
}
button:focus, .btn:focus {
  color: #fff;
  outline: none;
  background-color: #E2612E;
  transition: 0.3s;
}

.accent-color {
  color: #FA6E37;
}

h1 {
  font-family: "Raleway", sans-serif;
  font-size: 68px;
  font-weight: 700;
  text-transform: uppercase;
}

h2 {
  font-family: "Raleway", sans-serif;
  font-size: 44px;
  font-weight: 500;
}

h3 {
  font-family: "Raleway", sans-serif;
  font-size: 30px;
  font-weight: 500;
}

h4 {
  font-family: "Raleway", sans-serif;
  font-size: 19px;
  font-weight: 600;
}

p {
  font-family: "Raleway", sans-serif;
  font-size: 17px;
  font-weight: 400;
}

header {
  background-color: #232323;
  display: flex;
}

.header-wrap {
  padding: 20px 240px;
}

.header__nav-list {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}
.header__nav-list .header__nav-list_item:not(:last-child) {
  margin-right: 40px;
}

h1 {
  font-family: "Raleway", sans-serif;
  font-size: 68px;
  font-weight: 700;
  text-transform: uppercase;
}

h2 {
  font-family: "Raleway", sans-serif;
  font-size: 44px;
  font-weight: 500;
}

h3 {
  font-family: "Raleway", sans-serif;
  font-size: 30px;
  font-weight: 500;
}

h4 {
  font-family: "Raleway", sans-serif;
  font-size: 19px;
  font-weight: 600;
}

p {
  font-family: "Raleway", sans-serif;
  font-size: 17px;
  font-weight: 400;
}

h1 {
  font-family: "Raleway", sans-serif;
  font-size: 68px;
  font-weight: 700;
  text-transform: uppercase;
}

h2 {
  font-family: "Raleway", sans-serif;
  font-size: 44px;
  font-weight: 500;
}

h3 {
  font-family: "Raleway", sans-serif;
  font-size: 30px;
  font-weight: 500;
}

h4 {
  font-family: "Raleway", sans-serif;
  font-size: 19px;
  font-weight: 600;
}

p {
  font-family: "Raleway", sans-serif;
  font-size: 17px;
  font-weight: 400;
}

h1 {
  font-family: "Raleway", sans-serif;
  font-size: 68px;
  font-weight: 700;
  text-transform: uppercase;
}

h2 {
  font-family: "Raleway", sans-serif;
  font-size: 44px;
  font-weight: 500;
}

h3 {
  font-family: "Raleway", sans-serif;
  font-size: 30px;
  font-weight: 500;
}

h4 {
  font-family: "Raleway", sans-serif;
  font-size: 19px;
  font-weight: 600;
}

p {
  font-family: "Raleway", sans-serif;
  font-size: 17px;
  font-weight: 400;
}

h1 {
  font-family: "Raleway", sans-serif;
  font-size: 68px;
  font-weight: 700;
  text-transform: uppercase;
}

h2 {
  font-family: "Raleway", sans-serif;
  font-size: 44px;
  font-weight: 500;
}

h3 {
  font-family: "Raleway", sans-serif;
  font-size: 30px;
  font-weight: 500;
}

h4 {
  font-family: "Raleway", sans-serif;
  font-size: 19px;
  font-weight: 600;
}

p {
  font-family: "Raleway", sans-serif;
  font-size: 17px;
  font-weight: 400;
}

h1 {
  font-family: "Raleway", sans-serif;
  font-size: 68px;
  font-weight: 700;
  text-transform: uppercase;
}

h2 {
  font-family: "Raleway", sans-serif;
  font-size: 44px;
  font-weight: 500;
}

h3 {
  font-family: "Raleway", sans-serif;
  font-size: 30px;
  font-weight: 500;
}

h4 {
  font-family: "Raleway", sans-serif;
  font-size: 19px;
  font-weight: 600;
}

p {
  font-family: "Raleway", sans-serif;
  font-size: 17px;
  font-weight: 400;
}

h1 {
  font-family: "Raleway", sans-serif;
  font-size: 68px;
  font-weight: 700;
  text-transform: uppercase;
}

h2 {
  font-family: "Raleway", sans-serif;
  font-size: 44px;
  font-weight: 500;
}

h3 {
  font-family: "Raleway", sans-serif;
  font-size: 30px;
  font-weight: 500;
}

h4 {
  font-family: "Raleway", sans-serif;
  font-size: 19px;
  font-weight: 600;
}

p {
  font-family: "Raleway", sans-serif;
  font-size: 17px;
  font-weight: 400;
}

h1 {
  font-family: "Raleway", sans-serif;
  font-size: 68px;
  font-weight: 700;
  text-transform: uppercase;
}

h2 {
  font-family: "Raleway", sans-serif;
  font-size: 44px;
  font-weight: 500;
}

h3 {
  font-family: "Raleway", sans-serif;
  font-size: 30px;
  font-weight: 500;
}

h4 {
  font-family: "Raleway", sans-serif;
  font-size: 19px;
  font-weight: 600;
}

p {
  font-family: "Raleway", sans-serif;
  font-size: 17px;
  font-weight: 400;
}

h1 {
  font-family: "Raleway", sans-serif;
  font-size: 68px;
  font-weight: 700;
  text-transform: uppercase;
}

h2 {
  font-family: "Raleway", sans-serif;
  font-size: 44px;
  font-weight: 500;
}

h3 {
  font-family: "Raleway", sans-serif;
  font-size: 30px;
  font-weight: 500;
}

h4 {
  font-family: "Raleway", sans-serif;
  font-size: 19px;
  font-weight: 600;
}

p {
  font-family: "Raleway", sans-serif;
  font-size: 17px;
  font-weight: 400;
}

.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 50px;
}

.footer__info {
  list-style-type: none;
}
.footer__info .footer__info-item:not(:last-child) {
  margin-bottom: 30px;
}

.footer__icons .footer__icons-button:hover {
  cursor: pointer;
  fill: #F47746;
}
.footer__icons .footer__icons-button:not(:last-child) {
  margin-right: 30px;
}

.footer__links {
  color: #999999;
  display: flex;
  justify-content: space-between;
}

.footer__links_policy .footer__links_mini-text:not(:last-child) {
  margin-right: 15px;
}

.footer__links_mini-text {
  font-size: 14px;
  color: #999999;
}

h1 {
  font-family: "Raleway", sans-serif;
  font-size: 68px;
  font-weight: 700;
  text-transform: uppercase;
}

h2 {
  font-family: "Raleway", sans-serif;
  font-size: 44px;
  font-weight: 500;
}

h3 {
  font-family: "Raleway", sans-serif;
  font-size: 30px;
  font-weight: 500;
}

h4 {
  font-family: "Raleway", sans-serif;
  font-size: 19px;
  font-weight: 600;
}

p {
  font-family: "Raleway", sans-serif;
  font-size: 17px;
  font-weight: 400;
}

.pnf-main {
  padding: 120px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.pnf-main svg {
  margin: 100px 0;
  max-height: 340px;
}
.pnf-main h1 {
  font-size: 68px;
  line-height: 80px;
  text-transform: uppercase;
}
.pnf-main .pnf-main__item {
  margin-bottom: 40px;
}/*# sourceMappingURL=style.css.map */