@import "_colors.scss"; 
@import "_fonts.scss"; 

.clients-block {
    margin-bottom: 70px;
    h2 {
        margin-bottom: 30px;
    }
}

.clients-slider__container {
    display: flex;
    align-items: baseline;
    justify-content: center;
    width: 100%;
}

.clients-slide {
    margin-right: 63px;
    
}