@import "_colors.scss"; 
@import "_fonts.scss"; 

@keyframes slide {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
}

.clients-carousel {
    overflow: hidden;
    padding: 60px 0;
    white-space: nowrap;
    position: relative;
    display: flex;
    align-items: center;

    &:before,
    &:after {
        position: absolute;
        top: 0;
        height: 100%;
        content: "";
    }

    &__logo {
        display: flex;
        animation: 60s slide infinite linear;

        &-img {
            margin: 0 32px;
            height: 66px;
        }
    }
}