// body bg color:
$MainBlack: #1B1B1B;

// text color:
$MainWhite: #fff;

// accent color:
$Accent: #FA6E37;

// aboutus+prices slides bg
$DarkGrey: #3A3A3A;

// contact form small text and placeholders:
$LightGrey: #CCCCCC;

// header bg + accordeon bg
$MainDarkGrey: #232323;

// footer small text
$Grey: #999999;
