@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap');

$MainFont: 'Raleway', sans-serif;
$bold: 700;
$semiBold: 600;
$med: 500;
$regular: 400;

h1 {
    font-family: $MainFont;
    font-size: 68px;
    font-weight: $bold;
    text-transform: uppercase;

    @media (max-width: 1024px) {
    }
    
    @media (max-width: 576px) {
    }
}
h2 {
    font-family: $MainFont;
    font-size: 44px;
    font-weight: $med;

    @media (max-width: 1024px) {
    }

    @media (max-width: 576px) {
    }
}
h3 {
    font-family: $MainFont;
    font-size: 30px;
    font-weight: $med;

    @media (max-width: 1024px) {
    }

    @media (max-width: 576px) {
    }
}
h4 {
    font-family: $MainFont;
    font-size: 19px;
    font-weight: $semiBold;

    @media (max-width: 1024px) {
    }

    @media (max-width: 576px) {
    }
}
p {
    font-family: $MainFont;
    font-size: 17px;
    font-weight: $regular;

    @media (max-width: 1024px) {
    }

    @media (max-width: 576px) {
    }
}