@import "_colors.scss"; 
@import "_fonts.scss"; 


.footer {
    padding: 70px 240px;

    &__container {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        margin-bottom: 50px;
    }

    &__info {
        list-style-type: none;
        display: flex;
        flex-direction: column;
        gap: 30px;

        &-item_link {
            font-size: 17px;
            color: $MainWhite;
            transition: 0.2s;
        
            &:hover {
                color: $AccentHover;
                text-decoration: none;
                transition: 0.2s;
            }
            &:active {
                color: $AccentFocus;
                text-decoration: none;
            }

            &:first-child {
                font-size: 19px;
            }
        }
    }
    &__icons {
        display: flex;
        gap: 30px;

        &-button {
            &:hover {
                text-decoration: none;
                cursor: pointer;
            }
        }
    }

    &__links {
        color: $Grey;
        display: flex;
        justify-content: space-between;

        &-copyright {
            font-size: 14px;
        }

        &-policy {
            .footer__links_mini-text:not(:last-child) {
                margin-right: 15px;
            }
        }

        &_mini-text {
            font-size: 14px;
            color: $Grey;
            transition: 0.2s;
    
            &:hover {
                text-decoration: none;
                color: $MainWhite;
                transition: 0.2s;
            }
            &:active {
                text-decoration: underline;
                color: $MainWhite;
            }
        }
    }
}

// tablet
@media (max-width: 1024px) {

}

// phone
@media (max-width: 576px) {

}