@import "_colors.scss"; 
@import "_fonts.scss"; 

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::selection {
    background-color: #fa6e372f;
}

body {
    background-color: $MainBlack;
    color: $MainWhite;
    font-family: $MainFont;
}

.wrap {
    padding: 50px 240px;
}

a {
    color: Grey;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
        color: $AccentHover;
    }
    &:active {
        color: $AccentFocus;
    }
}

button, .btn {
    font-family: $MainFont;
    font-weight: $semiBold;
    font-size: 19px;
    text-transform: uppercase;
    outline: none;
    background-color: $Accent;
    color: $MainWhite;
    padding: 15px 40px;
    border-radius: 5px;
    border: none;
    letter-spacing: 1px;
    transition: 0.3s;

    &:hover {
        color: $MainWhite;
        cursor: pointer;
        background-color: $AccentHover;
        transition: 0.3s;
    }
    &:focus {
        color: $MainWhite;
        outline: none;
        background-color: $AccentFocus;
        transition: 0.3s;
    }
}

.accent-color {
    color: $Accent;
}