@import "_colors.scss"; 
@import "_fonts.scss"; 

.header {
    background-color: $MainDarkGrey;
    padding: 20px 240px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 19px;
    font-weight: $semiBold;
    
    &__nav-list {
        list-style-type: none;
        display: flex;
        gap: 40px;

        &_item {
            transition: 0.2s;

            &-link {
                color: $MainWhite;
                &:hover {
                    cursor: pointer;
                    color: $AccentHover;
                    transition: 0.2s;
                    text-decoration: none;
                }
                &:active {
                    color: $AccentFocus;
                }
            }
        }
    }

    @media (max-width: 1024px) {
    }

    @media (max-width: 576px) {
    }
}