@import "_colors.scss"; 
@import "_fonts.scss"; 

header {
    background-color: $MainDarkGrey;
}

.header-wrapper {
    padding: 20px 240px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 19px;
    font-weight: $semiBold;
}

.header__nav-list {
    list-style-type: none;
    display: flex;
    gap: 40px;
}
.header__nav-list_item {
    transition: 0.2s;
    &:hover {
        cursor: pointer;
        color: $AccentHover;
        transition: 0.2s;
    }
    &:active {
        color: $AccentFocus;
    }
}