@import "_colors.scss"; 
@import "_fonts.scss"; 

.main-page {
    display: flex;
    flex-direction: column;

    .main-page__info {
        display: flex;
        flex-direction: column;

        .main-page__info_text {
            display: flex;
            align-items: flex-end;
            margin-bottom: 50px;

            h1 {
                min-width: 170px;
                margin-right: 50px;
            }

            p {
                max-width: 420px;
            }
        }
    }

    .main__illustra {
        margin-top: 70px;

        .main__illustra-icon {
            position: absolute;
            z-index: 5;
            margin-top: -72px;
            margin-left: 1260px;
        }
    }
}