@import "_colors.scss"; 
@import "_fonts.scss"; 

.qa-block {
    &__title {
        margin-bottom: 30px;
    }
}

.qa-block__accordion {
    &-container {
        background-color: $MainDarkGrey;
        border-radius: 5px;
        padding: 30px;
        margin-bottom: 30px;
    }

    &-toggle {
        cursor: pointer;
        width: 100%;
        transition: 0.4s;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        &:hover {
            color: $Accent;
            transition: 0.2s;
        }
        &__icon {
            transform: rotate(45deg);
            &:hover {
                fill: $Accent;
                transition: 0.2s;
            }
        }
    }
    &-text {
        display: none;
        overflow: hidden;
        margin-top: 30px;
        max-width: 55%;
    }
}

.rotate {
    transform: rotate(45deg);
}